<!DOCTYPE html>
<html lang="en">
    <head>
        <title>b4sh</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css" />
        
        <link rel="stylesheet" href="../static/css/index.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.01/ace.js"></script>
    </head>
    <body>

        <nav class="navbar bg-dark navbar-dark">
            <!-- Brand -->
            <div class="container">
                <a class="navbar-brand" href="#">_b4sh<span style="font-size: 10px;">, The command line manager for humans.</span> </a>
            </div>
        </nav>
        
        <div class="container mt-3">
            <div class="row" >
                <div class="col-3">
                    <div class="form-group">                    
                        
                        <select class="selectpicker w-100" title="Filter by Operating system" multiple data-live-search="true">
                            <option>linux - Debian</option>
                            <option>linux - Centos</option>
                            <option>win - win10</option>
                        </select>
                        <hr>
                        <input type="text" class="form-control" placeholder="Search a b4sh here...">
                    </div>
                    <hr>
                
                    <ul class="list-group " style="max-height: 27rem;overflow: auto;">

                        <label class="form-check-label">
                            <li role='button' class="list-group-item d-flex justify-content-between align-items-center" style="padding-left: 30px;">
                                <input class="form-check-input" type="checkbox">
                                <span data-toggle="tooltip" data-placement="top" title="Debian-Cerbot" class="mt-1">Debian-Cerbot...</span>
                                <span class="badge badge-secondary badge-pill">12</span>
                            </li>
                        </label>

                        <label  class="form-check-label">
                            <li role='button' class="list-group-item d-flex justify-content-between align-items-center" style="padding-left: 30px;">
                                <input class="form-check-input" type="checkbox">
                                <span data-toggle="tooltip" data-placement="top" title="Ubuntu-Nginx" class="mt-1">Ubuntu-Nginx...</span>
                                <span class="badge badge-secondary badge-pill">5</span>
                            </li>
                        </label>

                    </ul>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col-3">
                            <select class="selectpicker w-100" title="Operating system" multiple data-live-search="true">
                                <option>linux - Debian</option>
                                <option>linux - Centos</option>
                                <option>win - win10</option>
                            </select>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Custom Title...">
                            </div>
                        </div>
                    </div>

                    <div id="accordion">

                        <div class="card">
                            <div class="card-header" role="button" data-toggle="collapse" href="#collapseOne">
                                <a style="text-decoration: none; color: #1E1E1E;">
                                    Edit commands
                                </a>
                            </div>
                            <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                <div class="card-body">

                                    <div id="editor_wrapper" class="app_editor_wrapper">
                                        <div id="editor"># Your Commands here...</div>
                                        <div id="editor_dragbar" class="app_editor_dragbar"></div>
                                    </div>
                                    <div class="pb-5 pt-3">
                                        <button class="btn btn-primary float-right">
                                            SAVE
                                        </button>
                                        <button class="btn btn-secondary float-right mr-2">
                                            CLEAN
                                        </button>

                                        <!-- <button class="btn btn-primary" disabled>
                                            <span class="spinner-border spinner-border-sm"></span>
                                            Loading...
                                        </button> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card">
                            <div class="card-header" role="button" data-toggle="collapse" href="#collapseTwo">
                                <a class="collapsed" style="text-decoration: none; color: #1E1E1E;">
                                    b4sh command
                                </a>
                            </div>
                            <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="pb-3">
                                        <kbd style="display: block;">
                                            curl -s b4sh.co/b.sh | bash -s 00oaik3
                                            <i
                                                data-toggle="tooltip" 
                                                data-placement="top" 
                                                role="button"
                                                title="Click to copy" 
                                                class="mt-1 fas fa-copy float-right"></i>
                                        </kbd>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3" style="font-size: 10px;">
                    By <a href="https://github.com/sanix-darker" target="_blank">@darker</a>.
                </div>
            </div>
        </div>

        <script src="../static/js/index.js"></script>
    </body>

</html>
