<!DOCTYPE html>
<html lang="en">
    <head>
        <title>b4sh</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.01/ace.js"></script>
    </head>
    <body>

        <nav class="navbar bg-dark navbar-dark pl-4">
            <!-- Brand -->
            <a class="navbar-brand" href="#">_b4sh<span style="font-size: 10px;">, The command line manager for humans.</span> </a>
        </nav>
 
        <div class="row m-2">
            <div class="col-3">
                <div class="form-group">                    
                    
                    <select class="selectpicker w-100" title="Operating system" multiple data-live-search="true">
                        <option>linux - Debian</option>
                        <option>linux - Centos</option>
                        <option>win - win10</option>
                    </select>
                    <hr>
                    <input type="text" class="form-control" placeholder="Search a b4sh here...">
                </div>
                <hr>
            
                <ul class="list-group " style="max-height: 27rem;overflow: auto;">
                    <label class="form-check-label">
                        <li role='button' class="list-group-item d-flex justify-content-between align-items-center" style="padding-left: 30px;">
                            <input class="form-check-input" type="checkbox">
                            <span class="mt-1">Debian-Cerbot</span>
                            <span class="badge badge-secondary badge-pill">12</span>
                        </li>
                    </label>

                    <label class="form-check-label">
                        <li role='button' class="list-group-item d-flex justify-content-between align-items-center" style="padding-left: 30px;">
                            <input class="form-check-input" type="checkbox">
                            <span class="mt-1">Ubuntu-Nginx</span>
                            <span class="badge badge-secondary badge-pill">5</span>
                        </li>
                    </label>

                </ul>
            </div>
            <div class="col">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Custom Title...">
                </div>
                <hr>

                <div id="editor_wrapper" class="app_editor_wrapper">
                    <div id="editor" style="height: 300px;"># Your Commands here...
</div>
                    <div id="editor_dragbar" class="app_editor_dragbar"></div>
                  </div>
                <hr>
                <kbd style="display: block;">
                    # or just Copy / Paste this line to your terminal<br>
                    pip3 install b4sh && b -g ks334pol
                </kbd>
            </div>
        </div>
    </body>
    <script type="text/javascript">
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/twilight");
        editor.getSession().setMode("ace/mode/sh");
        editor.setOptions({
            fontSize: "17pt"
        })
        window.draggingAceEditor = {};

        function makeAceEditorResizable(editor){
            var id_editor = editor.container.id;
            var id_dragbar = '#' + id_editor + '_dragbar';
            var id_wrapper = '#' + id_editor + '_wrapper';
            var wpoffset = 0;
            window.draggingAceEditor[id_editor] = false;

            $(id_dragbar).mousedown(function(e) {
                e.preventDefault();

                window.draggingAceEditor[id_editor] = true;
            
                var _editor = $('#' + id_editor);
                var top_offset = _editor.offset().top - wpoffset;
            
                // Set editor opacity to 0 to make transparent so our wrapper div shows
                _editor.css('opacity', 0);
            
                // handle mouse movement
                $(document).mousemove(function(e){
                    var actualY = e.pageY - wpoffset;
                    // editor height
                    var eheight = actualY - top_offset;
                    
                    // Set wrapper height
                    $(id_wrapper).css('height', eheight);
                    
                    // Set dragbar opacity while dragging (set to 0 to not show)
                    $(id_dragbar).css('opacity', 0.15);
                });
            });
            
            $(document).mouseup(function(e){
                if (window.draggingAceEditor[id_editor])
                {
                    var ctx_editor = $('#' + id_editor);
            
                    var actualY = e.pageY - wpoffset;
                    var top_offset = ctx_editor.offset().top - wpoffset;
                    var eheight = actualY - top_offset;
            
                    $( document ).unbind('mousemove');
                    
                    // Set dragbar opacity back to 1
                    $(id_dragbar).css('opacity', 1);
                    
                    // Set height on actual editor element, and opacity back to 1
                    ctx_editor.css('height', eheight).css('opacity', 1);
                    
                    // Trigger ace editor resize()
                    editor.resize();

                    window.draggingAceEditor[id_editor] = false;
                }
            });
        }

        makeAceEditorResizable(editor);
    </script>

    <style>
        .app_editor_dragbar {
            background-color: #222222;
            width: 100%;
            height: 2px;
            cursor: row-resize;
            opacity: 1;
        }
    </style>
</html>
